In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
web_page = requests.get("https://www.collegenp.com/colleges",headers=headers).text

In [6]:
soup = BeautifulSoup(web_page,'lxml')

In [5]:
#print(soup.prettify())

In [13]:
soup.find_all('h3')[0].text

' Filter'

In [14]:
len(soup.find_all('h3'))

15

In [16]:
for i in soup.find_all('h3',class_ = 'college-name'):
    print(i.text.strip())

Informatics College Pokhara, Pokhara
ISMT College, Kathmandu
Padmashree International College, Kathmandu
The British College, Kathmandu
Tribhuvan University (TU), Kathmandu
Academy of Culinary Arts and Hospitality Management, Lalitpur
Acme Engineering College, Kathmandu
Advance Academy and Republica College, Lalitpur
Alka Institute of Medical Sciences, Lalitpur
Amrit Science Campus - ASCOL, Kathmandu

In [18]:
for i in soup.find_all('span',class_ ='college-address'):
    print(i.text.strip())

Matepani, Pokhara
Tinkune, Kathmandu
Tinkune, Kathmandu
Thapathali, Kathmandu
Kirtipur, Kathmandu
Lagankhel, Lalitpur
Sitapaila, Kathmandu
Kumaripati, Lalitpur
Jwalakhel, Lalitpur
Lainchaur, Kathmandu

In [22]:
college = soup.find_all('div', class_='media-body')
len(college)

10

In [28]:
name=[]
address = []
for i in college:
    name.append(i.find('h3',class_= 'college-name').text.strip())
    address.append(i.find('span', class_= 'college-address').text.strip())

In [29]:
list ={'name':name,'address':address}
df =pd.DataFrame(list)
df.head()

                                          name                address
0         Informatics College Pokhara, Pokhara      Matepani, Pokhara
1                      ISMT College, Kathmandu     Tinkune, Kathmandu
2  Padmashree International College, Kathmandu     Tinkune, Kathmandu
3               The British College, Kathmandu  Thapathali, Kathmandu
4         Tribhuvan University (TU), Kathmandu    Kirtipur, Kathmandu